<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" (click)="goToMenuprofPage()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="titulo1">
    <div class="subTitulo1">Menup rofesor</div>
  </div>

  <div class="texto1">
    <div class="subTexto1"><strong>Sede:</strong> Antonio Varas</div>
  </div>

<div class="botones">
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Matematicas
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Base de datos
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Etica
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Programación Web
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Estadistica
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/asistencia">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Matematica 2
    <ion-icon name="chevron-forward-outline"></ion-icon>
  </ion-button>

</div>
  </ion-content>
