.botones ion-button {
  margin-bottom: 5%;
}

/* Estilo para las imágenes */
ion-img {
  width: 80px; /* Ajusta el ancho deseado */
  height: 80px; /* Ajusta la altura deseada */
  display: block;
  margin: 0 auto;
}

ion-button {


    --color: rgb(0, 0, 0);
  
    --border-width: 1px;
  
    --box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  

  }

  
  .title{
    background-color: #000342;
}

.texto1 {
  margin-top: 10%;
  font-size: 80%; /* Puedes ajustar el valor según tus necesidades */
}

.text {
  padding-left: 5%;
  font-size: 80%; /* Puedes ajustar el valor según tus necesidades */
}


.botones{  
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.texto-izquierda{

  background: rgb(255, 196, 0);
}

.alertaProf{
  margin-top: 45%;
  text-align: center;
  
}

