<app-header-teacher></app-header-teacher>

<ion-content [fullscreen]="true"> 

  <div class="titulo1 text">
    <div class="user-info">
      <p *ngIf="nombre && apellido">Nombre: {{ nombre }} {{ apellido }}</p>
      <p *ngIf="email">Correo Electrónico: {{ email }}</p>
    </div>
  </div>
  
  <div class="texto1 text">
    <div class="subTexto1"><strong>Sede:</strong> Antonio Varas</div>
  </div>

<div class="botones">

  <ion-img src="assets/lista.png"></ion-img>

  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/prof-registro-asistencia" (click)="navigateAsistencia()">
    Registrar asistencia
  </ion-button>
  
  <ion-img src="assets/lupa.png"></ion-img>

  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/cursos" (click)="navigateAsistenciareg()">
    Revisar asistencia
  </ion-button>

  
</div>


<ion-card class="alertaProf" animation="slide-in-up">
  <ion-card-content>Tienes una clase pendiente</ion-card-content>
</ion-card>




  </ion-content>
