<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start" (click)="goToMenuprofPage()">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Menu profesor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="titulo1">
    <div class="user-info">
      <p>Nombre: {{ nombre }}</p>
      <p>Correo Electrónico: {{ correoElectronico }}</p>
    </div>
    <div class="subTitulo1">Asistencia</div>
  </div>

  <div class="texto1">
    <div class="subTexto1"><strong>Sede:</strong> Antonio Varas</div>
  </div>

<div class="botones">
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/prof-registro-asistencia" (click)="navigateAsistencia()">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Registrar asistencia
  </ion-button>
  <ion-button class="texto-izquierda" fill="clear" expand="full" routerLink="/cursos" (click)="navigateAsistenciareg()">
    <ion-icon name="square" style="color: rgb(239, 232, 155);"></ion-icon>
    Revisar asistencia
  </ion-button>
</div>


<ion-card>
  <ion-card-content>Duoc UC</ion-card-content>
</ion-card>




  </ion-content>
