<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start" (click)="goToMenuprofPage()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Codigo QR</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="title">Curso</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="titulo1">
    <div class="subTitulo1">Asistencia</div>
  </div>

   <h2>Clase</h2>
   <p>ID: {{ id }}</p>
   <p>Curso: {{ nombre }}</p>
   <p>Sección: {{ seccion }}</p>
   <p>Horario: {{ horario }}</p>

     
  <div class="imgQR">
    <img src="assets\imagenes\qr.png">
  </div>

</ion-content>
