ion-toolbar.custom-toolbar {
  --ion-background-color: #000342; /* Cambia el color de fondo según tus preferencias */
}

ion-title {
  color: white; /* Cambia el color del texto a blanco */
  text-align: right; /* Alinea el texto a la izquierda */
}

/* Estilo para la franja amarilla */
ion-header::after {
  content: "";
  display: block;
  background-color: rgb(255, 196, 0);
  height: 30px;
}



ion-content {
  --ion-background-color: #f4f4f4; // Cambia el color de fondo según tus preferencias     
}
.title{
  background-color: #000342;
  color:white;
}


.subTitulo1{
  padding: 3%;
  color:white;
  font-size: x-large;
  margin-left: 10%;
}


.titulo1 {
padding-left: 5%;
font-size: 80%; /* Cambia el valor según tus necesidades */
}



.subTexto1{
padding-left: 5%;
font-size: 80%;
}


.calendario{
 margin-left: 8%;
 margin-top: 10%;
 margin-bottom: 5%;   
}

ion-datetime{
  background-color:white;
}

.titleListaCursos {
padding-left: 5%;
color: rgb(255, 196, 0);
font-weight: bold; /* Cambia el estilo del texto a negrita */
}


.listaCursos{
 display: inline-block;
 padding: 10px 20px; /* Ajusta el espaciado interno según tus necesidades */
 background: rgb(255, 196, 0);
 color: #fff; /* Color del texto del botón */
 width: 80%;
 margin-left: 10%;
 margin-top: 3%;
 
}

/* Estilos para las materias */
.materia-card {
  background-color: rgba(255, 196, 0, 0.153);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.materia-card h3 {
  font-size: 100%; /* Cambia el valor según tus necesidades */
  text-align: center; /* Centra el texto horizontalmente */
}



.seccion-button {
  background-color: #ffff00; /* Cambia el color del fondo del botón a amarillo */
  border: 0; /* Elimina el borde del botón */
}
