<app-header-teacher></app-header-teacher>

<ion-content [fullscreen]="true">
  
  <div class="titulo1">
    <div class="user-info">
      <p>Nombre: {{ nombre + ' ' + apellido }}</p>
      <p>Correo Electrónico: {{ email }}</p>
    </div>
  </div>     


  <h1 class="titleListaCursos">Cursos</h1>
  <ion-content>
    <div class="materias-container">
      <div *ngFor="let materia of materias" class="materia-card">
        <h3>Materia: {{ materia.nombre }}</h3>
        <ion-button expand="full" *ngFor="let seccion of materia.secciones" class="seccion-button" (click)="verDetallesSeccion(seccion)">
          <div>
            <p>Sección: {{ seccion.seccion }}</p>
            <p>Horario de inicio: {{ seccion.horario_inicio }}</p>
            <p>Horario de fin: {{ seccion.horario_fin }}</p>
          </div>
        </ion-button>
      </div>
    </div>
  </ion-content>
  
  
</ion-content>




 